a {
    text-decoration: none;
}

.background {
    background: #6c5f5b;
    margin: 0;
}

.button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    width: 75px;
    height: 75px;
}

.flagcount-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.flagcount {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

.game-container {
    text-align: center;
}

.cell-container {
    display: flex;
    gap: 3px;
    justify-content: center;
    margin-bottom: 3px;
}


@media (min-width: 600px) {
    .cell {
        width: calc(10vw - 12px);
        height: calc(10vw - 12px);
        font-size: calc(5vw - 10px);
    }

    .empty-cell {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
    }

    .number-1 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);

    }

    .number-2 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);

    }

    .number-3 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-4 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-5 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-6 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-7 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-8 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .bomb {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(3vw - 10px);
    }

    .flagged {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(3vw - 10px);
    }
}

@media (max-width: 600px) {
    .cell {
        width: calc(10vw - 12px);
        height: calc(10vw - 12px);
        font-size: calc(5vw - 10px);
    }

    .empty-cell {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
    }

    .number-1 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);

    }

    .number-2 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);

    }

    .number-3 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-4 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-5 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-6 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-7 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .number-8 {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(5vw - 10px);
    }

    .bomb {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(3vw - 10px);
    }

    .flagged {
        width: calc(10vw - 14px);
        height: calc(10vw - 14px);
        font-size: calc(3vw - 10px);
    }
}

@media (min-width: 992px) {
    .cell {
        width: calc(10vh - 12px);
        height: calc(10vh - 12px);
        font-size: calc(7vh - 10px);
    }

    .empty-cell {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-1 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-2 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-3 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-4 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-5 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-6 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-7 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .number-8 {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(7vh - 10px);
    }

    .bomb {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(4vw - 10px);
    }

    .flagged {
        width: calc(10vh - 14px);
        height: calc(10vh - 14px);
        font-size: calc(4vw - 10px);
    }
}

.cell {
    background-color: #4f4a45;
    border: 1px solid #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(7vh - 10px);
    font-family: "Courier New", monospace;
    font-weight: bold;
}

.cell:hover {
    background: #f5b68b;
}

.empty-cell {
    background-color: #f6f1ee;
    color: #888;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-1 {
    border: 0;
    color: blue;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-2 {
    border: 0;
    color: #008000;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-3 {
    border: 0;
    color: #FF0000;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-4 {
    border: 0;
    color: #000080;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-5 {
    border: 0;
    color: #800000;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-6 {
    border: 0;
    color: #008080;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-7 {
    border: 0;
    color: pink;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-8 {
    border: 0;
    color: deeppink;
    background-color: #f6f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bomb {
    border: 0;
    background-color: #ed7d31;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagged {
    border: 0;
    color: #ed7d31;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes cellClicked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cell:active {
    animation: cellClicked 1s ease-in-out;
}
