@import "easy.css";

.button {
    width: 25px;
    height: 25px;
}

.cell {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
    font-size: calc(4vh - 10px);
    margin: 1px;
}

.empty-cell {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-1 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-2 {
    color: #008000;
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-3 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-4 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-5 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-6 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-7 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.number-8 {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.bomb {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}

.flagged {
    width: calc(4vh - 10px);
    height: calc(4vh - 10px);
}
