@import "easy.css";

.button {
    width: 25px; /* Set the width to match the cell size */
    height: 25px; /* Set the height to match the cell size */
    /* Add any additional styles as needed */
}

/* Define the cell styles */
.cell {
    width: 25px;
    height: 25px;
}

/* Overridden cell styles for empty cells */
.empty-cell {
    width: 25px;
    height: 25px;
}

.number-1 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 2 styles */
.number-2 {
    color: #008000; /* Green text color for '2' */
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 3 styles */
.number-3 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 4 styles */
.number-4 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 5 styles */
.number-5 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 6 styles */
.number-6 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 7 styles */
.number-7 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

/* Number 8 styles */
.number-8 {
    width: 25px;
    height: 25px;
    font-size: 13px; /* Adjusted font size for empty cells */
}

.bomb {
    font-size: 13px; /* Font size for the bomb icon */
    width: 25px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
}

.flagged {
    font-size: 13px; /* Font size for the bomb icon */
    width: 25px; /* Adjust width as needed */
    height: 25px; /* Adjust height as needed */
}
