@import "easy.css";

.button {
    width: 40px;
    height: 40px;
}

@media (min-width: 600px) {
    .cell {
        width: calc(6vw - 10px);
        height: calc(6vw - 10px);
        border-radius: 8px;
    }

    .cell-type {
        width: calc(6vw - 12px);
        height: calc(6vw - 12px);
        font-size: calc(5vw - 10px);
        border-radius: 7px;
    }

    .bomb {
        font-size: calc(4vw - 10px);
    }
}

@media (max-width: 600px) {
    .cell {
        width: calc(6vw - 10px);
        height: calc(6vw - 10px);
        border-radius: 8px;
    }

    .cell-type {
        width: calc(6vw - 12px);
        height: calc(6vw - 12px);
        font-size: calc(5vw - 10px);
        border-radius: 7px;
    }

    .bomb {
        font-size: calc(4vw - 10px);
    }
}

@media (min-width: 992px) {
    .cell {
        width: calc(6vh - 10px);
        height: calc(6vh - 10px);
        border-radius: 8px;
    }

    .cell-type {
        width: calc(6vh - 12px);
        height: calc(6vh - 12px);
        font-size: calc(5vh - 10px);
        border-radius: 7px;
    }

    .bomb {
        font-size: calc(4vh - 10px);
    }

    .flagged {
        font-size: calc(4vh - 10px);
    }
}
